<div class="card-header bg-dark bg-gradient ml-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-white py-2">@HeaderText</h2>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string HeaderText { get; set; } = "Default Header Text";

}
