<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="confirmationModalLabel">@Title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal" @onclick="() => HandleConfirm(false)">
                    Close
                </button>
                <button type="button" class="btn @BootstrapButtonClass" @onclick="() => HandleConfirm(true)">@ButtonText</button>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public EventCallback<bool> OnModalConfirmation { get; set; }

    [Parameter]
    public string Title { get; set; } = "Please Confirm";
    [Parameter]
    public string ButtonText { get; set; } = "Confirm";
    [Parameter]
    public string BootstrapButtonClass { get; set; } = "btn-primary";

    private async Task HandleConfirm(bool isConfirmed)
    {
        if(isConfirmed)
            await OnModalConfirmation.InvokeAsync(true);
    }

}